* {
    font-family: Helvetica, Arial, sans-serif;
    max-width: 700px;
    margin: auto;

  }

body {
      min-width: 500px;
      background-image: url(img1.png);
      background-attachment: fixed;
      background-size: cover;
      
  }

  .profileBody {
    min-width: 500px; 
    display: inline-block;
    margin-top: 6px;
    margin-left: 55px;   
    text-align: left;
    align-self: start;
    width: 75%;
    height: 590px;
    color: rgb(255, 255, 255);  
  }
  
.headfact
{
  text-align: center;     
  color: rgb(255, 255, 255);
}

 

  